---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Philosophy from "../components/Philosophy.astro";
import Categories from "../components/Categories.astro";
import Features from "../components/Features.astro";
import Privacy from "../components/Privacy.astro";
import Pricing from "../components/Pricing.astro";
import CtaFooter from "../components/CtaFooter.astro";
---

<Layout>
    <main>
        <Hero />
        <Philosophy />
        <Categories />
        <Features />
        <Privacy />
        <Pricing />
        <CtaFooter />
    </main>
</Layout>
