---
import kakeiboLogo from "../assets/icon.svg";
---

<div id="container">
    <main>
        <section id="hero">
            <img src={kakeiboLogo.src} width="80" height="80" alt="Kakeibo" />
            <h1>Kakeibo</h1>
        </section>
    </main>
</div>

<style>
    #container {
        height: 100%;
    }

    main {
        height: 100%;
        display: flex;
        justify-content: center;
    }

    #hero {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        padding: 16px;
    }

    h1 {
        font-size: 22px;
        margin-top: 0.25em;
    }
</style>
